/* Style for form elements */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #45a049;
    
}
.generator-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
/*.generator-form div{
    padding: auto;
}
*/
header{
    background-image: url('vegan.lo.jpeg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position:top-left; 
}
.hero{
    background-image: url(pro2.jpg);
}
.about-us{
    width: 60%;
    margin: auto;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: unset;
    font-size: large;
}

textarea {
    height: 100px;
}
body {

}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Style for footer */

footer {
    
    background-color: #45a049;
    background-image: url();
    background-position: 
    
}

footer p {
    margin: 0;
    text-transform: lowercase;
    text-align: center;
    font-style: italic;
    font-size: larger;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    display: contents;
    margin: 0 5px;
}

.social-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
